*{
	margin: 0px;
	padding: 0px; 
}

body{	
    color:#CCCCCC;
    font-family:'Century Gothic';
    align-content:center;
}

header{
	width:auto;
	height: auto;
	line-height:180px;
	overflow: hidden;
    margin-top:50px;
}

.footer{
    margin-top:20px;
	width: auto;
	height: auto;
	font-family: 'Century Gothic';
	font-size: 12px;
	text-align: center;
	background-color:white;
    color:black;
}

.table{
    border:solid;
    border-color:black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius:12px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    text-align:center;
    height : 250px;
    width: 570px;
    margin-left:400px;
}

.h1{
	font-family: 'Smile of the Ocean';
	font-size: 50px;
	font-weight: bold;
    text-align:center;
    color:black;
    vertical-align:middle;
}

.h2{
	font-family: 'Century Gothic';
	font-size: 20px;
	font-weight: bold;
    color:black;
}
