*{
	margin: 0px;
	padding: 0px; 
}

body {
    background-color: #000;
}

#cuerpo{
  border:solid;
  border-radius:15px;
  border-color:#cccccc;
  width:auto;
}

.footer{
    margin-top: 20px;
    color:black;
    font-family:'Century Gothic';
    background-color:white;
}

.div_grid{
    margin-bottom:50px;
    height:auto;
    width:auto;
    align-content:center;
    position:center;
    font-weight:normal;
    font-family:'Century Gothic';
    text-align:center;
}

h1 {
    font-family: 'Century Gothic';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

