*{
	margin: 0px;
	padding: 0px; 
}

body {
    background-color: #000;
    margin-top: 0px;
    color: #CCCCCC;
    font-family: 'Century Gothic';
    align-content: center;
}

#contenedor{
    width:1100px;
	margin:0 auto;
	background-color:#000;
    position:center;
}

#cuerpo{
  border:solid;
  border-radius:15px;
  border-color:#cccccc;
  width:1000px;

}

header{
	width: 1100px;
	height:150px;
	/*left: 0px;
	top: 0px;
    color:#CCCCCC;
	font-family:'Century Gothic';
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height:180px;*/
    overflow: hidden;
	background-color:#000;
	position:center;
    align-items:center;
}

#pie{
   text-align: center;
    position:center;
    align-items:center;
    color:#CCCCCC;
	font-family:'Century Gothic';
	font-weight: normal;
	overflow: hidden;
	background-color:#000;
    /*margin-left:500px;*/
    position:center;
align-content:center;
}

#div_grid{
    margin-bottom:50px;
    height:500px;
    width:1000px;
    align-content:center;
    position:center;
    font-weight:normal;
    font-family:'Century Gothic';
    text-align:center;
}

h1 {

    font-family: 'Century Gothic';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

