*{
	margin: 0px;
	padding: 0px; 
}

body {
    margin-top: 0px;
}

.cuerpo{
  height:auto;
  width:auto;
}

.div_grid2{
    position:center;
    text-align:center;
    align-content:center;
    justify-content:center;
    margin-right:100px;
}

.footer{
	margin-top:20px;
	width: auto;
	height: auto;
	font-family: 'Century Gothic';
	font-size: 12px;
	text-align: center;
	background-color:white;
}

.table{
    margin-left:200px;
    margin-right:200px;
    font-family:'Century Gothic';
    border-bottom-left-radius: 12px;
    border-bottom-right-radius:12px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    border:solid;
    border-color:black;
}

.h1 {
    font-family: 'Smile of the Ocean';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.pedido{
    border:solid;
    border-color:black;
    border-radius:20px;
}

