*{
	margin: 0px;
	padding: 0px; 
}

body {
    background-color: #000;
    margin-top: 0px;
    color: #CCCCCC;
    font-family: 'Century Gothic';
    align-content: center;
}

#contenedor{
width:auto;
height:auto;
	background-color:#000;
    position:center;
    /*border-color:#CCCCCC;
    border:solid;*/
}

footer{
	width: 1100px;
	height: auto;
	left: 0px;
    margin-top: auto;
    color:#CCCCCC;
	font-family:'Century Gothic';
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height:normal;
	overflow: hidden;
	background-color:#000;
}

header{
	width: 1100px;
	height: 200px;
	left: 0px;
	top: 0px;
    color:#CCCCCC;
	font-family:'Century Gothic';
	font-size: 36px;
	text-align: center;
	font-weight: normal;
	line-height:180px;
	overflow: hidden;
	background-color:#000;
}



table{
    align-content:center;
    height : 250px;
    width: 250px;
    margin-left: 100px;
    font-weight:normal;
    font-family:'Century Gothic';
     border-radius:15px
}

h1 {
    font-family: 'Century Gothic';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height:20px;
}

h2{
	font-family: 'Century Gothic';
	font-size: 15px;
	font-weight: bold;
     text-align: center;
     height:20px;
}


