*{
	margin: 0px;
	padding: 0px; 
}

body{
	background-color: white;	
}

/*#contenedor{
	width:1100px;
	margin:0 auto;
	background-color:#000;
}*/

/*.footer{
	width: auto;
	height: auto;
	font-family: 'Century Gothic';
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	background-color:white;
}*/

/*#table{
    align-content:center;
    margin-left: 100px;
    font-weight:normal;
    font-family:'Century Gothic';
        border-radius:15PX;
}*/

