*{
	margin: 0px;
	padding: 0px; 
}

body{
	background-color: white;	
}


.footer{
    margin-top:20px;
	width: auto;
	height: auto;
	font-family: 'Century Gothic';
	font-size: 12px;
	text-align: center;
	background-color:white;
}

.table{
    border-color:#000000;
    border:solid;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius:12px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    margin-left: 300px;
    font-weight:normal;
    font-family:'Century Gothic';
}

